html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}
.intro {
    display: block;
	padding: 50px;
}
.countdown {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.scene {
	display: none;
}

.state-countdown .intro {
	display: none;
}
.state-countdown .countdown {
	display: block;
}
.state-countdown .scene {
	display: none;
}

.state-running .intro {
	display: none;
}
.state-running .countdown {
	display: none;
}
.state-running .scene {
	display: block;
}

.welcome {
	font-size: 64px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.welcome__startbutton {
	color:black;
	background: white;
	border: 2px solid transparent;
	padding: 30px;
	font-size: 64px;
	display: none;
}
.welcome__startbutton:active {
	background: black;
	color: white;
	border: 2px solid white;
}
.welcome__startbutton--visible {
	display: block;
}
.welcome__loadtext {
	display: none;
}
.welcome__loadtext--visible {
	display: block;
}

.counter {
	display: flex;
	font-size: 48;
}
.counter__left,
.counter__right {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
}

.counter__left {
	border-right: 1px solid white;
}
.counter__right {
	border-left: 1px solid white;
}
