:root {
	--scalefactor: 1.3;
	--photo-width: calc( 800px * var(--scalefactor));
	--photo-height: calc( 533px * var(--scalefactor));
	--blendmode: screen;
	--facX: 0;
	--facY: 0;
	--pos-offset: 10px;
	--rot-max: 10deg;
	--rot-x: calc(-1 * var(--rot-max) * var(--facY));
	--rot-z: calc(var(--rot-max) * var(--facX));
	--pos-x1: calc(var(--pos-offset) - 0.5 * var(--pos-offset) * var(--facX));
	--pos-y1: calc(var(--pos-offset) - 0.5 * var(--pos-offset) * var(--facY));
	--pos-x2: calc(var(--pos-offset) + 0.5 * var(--pos-offset) * var(--facX));
	--pos-y2: calc(var(--pos-offset) + 0.5 * var(--pos-offset) * var(--facY));
}

@media screen and (max-height: 600px) {
	:root {
		--scalefactor: 0.7;
	}
}

@keyframes colorz {
	0% {
		background-color: magenta;
	}
	100% {
		background-color: cyan;
	}
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 20px 10px 80px 10px;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: 20;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	width: 120px;
}

.title {
	font-size: 1.3em;
}

.subtitle {
	font-size: 1em;
}

.container {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
	backface-visibility: visible;
}

.overlap {
	width: var(--photo-width);
	height: var(--photo-height);
	cursor: pointer;
	box-shadow: var(--pos-x1) var(--pos-y1) 50px rgba(0, 0, 0, 0.6);
	transform-style: preserve-3d;
	transform: rotateX(var(--rot-x)) rotateY(var(--rot-z));
}

.overlap__item {
	/* display: none; */
	position: absolute;
	left: 0px;
	top: 0px;
	width: var(--photo-width);
	height: var(--photo-height);
	border: 1px solid grey;
	background-repeat: no-repeat;
	background-blend-mode: var(--blendmode);
	background-size: calc(var(--photo-width) - var(--pos-offset) * 2) calc(var(--photo-height) - var(--pos-offset) * 2);
	background-position: var(--pos-x1) var(--pos-y1), var(--pos-x2) var(--pos-y2);
	transition: transform 500ms, opacity 1500ms;
	transform: translateX(-100vw);
	opacity: 0;
}

.overlap__item--active {
	/* display: block; */
	transform: translateX(0%);
	opacity: 1;
}

.start {
	z-index: 10;
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	perspective: 1000px;
	backface-visibility: visible;
	padding: 30px;
}

.start__button {
	display: block;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	padding: 30px;
	margin: 20px;
	text-align: center;
	border: 3px solid black;
	color: white;
	animation: colorz 1000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}